# =========================
# DATASETS (DO NOT PUSH)
# =========================
dataset/Raw_Data/
*.csv

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/
anaconda-project/

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc

# =========================
# ENV
# =========================
venv/
.env

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db